<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <title>Cric</title>
  <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
  <script src="static/index.js"></script>
</head>
<body>
<div class="container">
	<div class="row"><div class="col-sm-12 col-md-6 col-lg-4">
<img src="static/logo.png" width="100%" >
</div></div>
</div>

<div class="bg-primary">
<div class="container text-white mb-2 py-2">
<div class="row">
<div class="col">
<%= Title %>
</div>
</div>
</div>
</div>
<div class="container">
<div class="my-2">
<h5 id="statusbar" class="text-danger mb-2">
<%= Status %>
</h5>
</div>
<div class="row my-3">
						<div class="col-6"><img class="mr-2" src="" width="50px"><%= BatName %> *</div>
						<div class="col-6 text-right"><h4 id="batScore"><%= BatRun %><small class="text-muted ml-2"></small></h4></div>
</div>
<div class="row my-2">
						<div class="col-6"><img src="" class="mr-2" width="50px"><%= BowlName %></div>
						<div class="col-6 text-right"><h4><%= BowlRun %><small class="text-muted ml-2"><%= BowlOver %></small></h4></div>
</div>
</div>
	<div class="container">
		<div class="gwrap">
			<div class="iteam">
			 		<div class="ground">
	  <div class="cercel">
	    <div class="wicket">
	      <div id="ball"></div>
	      <div class="filder" id="f1"></div>
	      <div class="filder" id="f2"></div>
	      <div class="filder" id="f3"></div>
	      <div class="filder" id="f4"></div>
	      <div class="filder" id="f5"></div>
	      <div class="filder" id="f6"></div>
	      <div class="filder" id="f7"></div>
	      <div class="filder" id="f8"></div>
	      <div class="filder" id="f9"></div>
	    </div>
	  </div>
	</div>
		
			</div>
		</div>

		<div>
			<div class="card bg-white mx-2 mt-3  mb-3">
				<div class="card-header">
				  	<div class="row">
						<div class="col-4">Batting</div>
						<div class="col-8 text-right">Run(B)</div>
					</div>
				</div>
				  <div class="card-body">
					<div class="row">
						<div class="col-8" id="bat1name"><%= Bat1Name %> </div>
						<div class="col-4 text-right" id="bat1run"><%= Bat1Run %> </div>
					</div>
					<div class="row">
						<div class="col-8" id="bat2name"><%= Bat2Name %> </div>
						<div class="col-4 text-right" id="bat2run"><%= Bat2Run %> </div>
					</div>
				  </div>
		 </div>
		</div>

	<div>
			<div class="card bg-white mx-2 mt-3  mb-3">
				<div class="card-header">
				  	<div class="row">
						<div class="col-4">Bowling</div>
						<div class="col-8 text-right">Over-WK</div>
					</div>
				</div>
				  <div class="card-body">
					<div class="row">
						<div class="col-8" id="bowlerName"><%= BowlerName %> </div>
						<div class="col-4 text-right" id="bowlerOW"><%= BowlerOver %>-<%= BowlerWK %>  </div>
					</div>
				  </div>
		 </div>
		</div>

		<div id="lbb">Last Balls
			<div>
			<%= LBB %>
			</div>
		</div>
	</div> 
</body>
</html>


