<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <title>Cric</title>
  <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
  <script src="static/index.js"></script>
</head>
<body>
<div class="container">
	<div class="row"><div class="col-sm-12 col-md-6 col-lg-4">
<img src="static/logo.png" width="100%" >
</div></div>
</div>

<div class="bg-primary">
<div class="container text-white mb-2 py-2">
<div class="row">
<div class="col">
<%= Title %>
</div>
</div>
</div>
</div>
<div class="container">
<div class="my-2">
<h5 class="text-danger mb-2">
<%= Status %>
</h5>
</div>
<div class="row my-3">
						<div class="col-6"><img class="mr-2" src="" width="50px"><%= BatName %> *</div>
						<div class="col-6 text-right"><h4><%= BatRun %><small class="text-muted ml-2"><%= BatOver %></small></h4></div>
</div>
<div class="row my-2">
						<div class="col-6"><img src="" class="mr-2" width="50px"><%= BowlName %></div>
						<div class="col-6 text-right"><h4><%= BowlRun %><small class="text-muted ml-2"><%= BowlOver %></small></h4></div>
</div>
</div>
	<div class="container">
		<div class="gwrap">
			<div class="iteam">
			 		<div class="ground">
	  <div class="cercel">
	    <div class="wicket">
	      <div id="ball"></div>
	      <div class="filder" id="f1"></div>
	      <div class="filder" id="f2"></div>
	      <div class="filder" id="f3"></div>
	      <div class="filder" id="f4"></div>
	      <div class="filder" id="f5"></div>
	      <div class="filder" id="f6"></div>
	      <div class="filder" id="f7"></div>
	      <div class="filder" id="f8"></div>
	      <div class="filder" id="f9"></div>
	    </div>
	  </div>
	</div>
		
			</div>
		</div>

		<div>
			<div class="card bg-white mx-2 mt-3  mb-3">
				<div class="card-header">
				  	<div class="row">
						<div class="col-4">Batting</div>
						<div class="col-4">Run</div>
						<div class="col-2">4s</div>
						<div class="col-2">6s</div>
					</div>
				</div>
				  <div class="card-body">
					<div class="row">
						<div class="col-4"><%= Bat1Name %> </div>
						<div class="col-4"><%= Bat1Run %> </div>
						<div class="col-2">5</div>
						<div class="col-2">30</div>
					</div>
					<div class="row">
						<div class="col-4"><%= Bat2Name %> </div>
						<div class="col-4"><%= Bat2Run %> </div>
						<div class="col-2">2</div>
						<div class="col-2">0</div>
					</div>
				  </div>
		 </div>
		</div>

	<div>
			<div class="card bg-white mx-2 mt-3  mb-3">
				<div class="card-header">
				  	<div class="row">
						<div class="col-4">Bowling</div>
						<div class="col-3">Over</div>
						<div class="col-2">R</div>
						<div class="col-3">WK</div>
					</div>
				</div>
				  <div class="card-body">
					<div class="row">
						<div class="col-4"><%= BowlerName %> </div>
						<div class="col-3"><%= BowlerOver %>-<%= BowlerWK %>  </div>
						<div class="col-2">32</div>
						<div class="col-3">5</div>
					</div>
				  </div>
		 </div>
		</div>

		<div id="lbb">Last Balls</div>
	<button type="submit" onclick="midwiket()">Midwiket 1</button>


	<button type="submit" onclick="deepExtracover()">Deepextracover 1</button>


	<button type="submit" onclick="thirdman()">Thirdman 1</button>


	<button type="submit" onclick="squreLeg()">Squreleg 1</button>

	<button type="submit" onclick="point()">point 1</button>

	<button type="submit" onclick="midOff()">Midoff 1</button>

	<button type="submit" onclick="midOn()">MidOn</button>

	<button type="submit" onclick="fineLeg()">Fine Leg</button>

       <button type="submit" onclick="gully()">Gully</button>

       <button type="submit" onclick="gully(4)">Gully 4</button>


	</div> 
</body>
</html>


