

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RRWQEVZBDZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RRWQEVZBDZ');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Ball2Ball || Live Cricket</title>
</head>
<body class="bg-light" onload="scroll()" > 

   <div class="container">
    <div class="text-center mb-3">
		<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4">
<img src="static/logo.png" width="100%" >
</div>
</div>
</div>


<h4>Match</h4>
	<div class="row justify-content-center ">

<div class="col-lg-4 col-md-6">
<div class="card bg-white mb-3" style="width: 100%;">
<a href="/live" class="match">
	       <div class="card-header"><%= Title %></div>
	         <div class="card-body">
 			<div class="row">
			  <div class="col-6">
			   <img width="40px" src=""> <%= BatName %>
			  </div>
			  <div class="col-6 text-right">
			   <%= BatRun %>
			  </div>
			</div>
 			<div class="row mt-2">
			  <div class="col-6">
			   <img width="40px" src=""> <%= BowlName %>
			  </div>
			  <div class="col-6 text-right">
			  <%= BowlRun %>
			  </div>
			</div>
			<h6 class="text-primary mt-2"><%= Status %><h6>

	         </div>
    </a></div>
</div>

<%matchList.forEach(match => {%>

<div class="col-lg-4 col-md-6">
<div class="card bg-white mb-3" style="width: 100%;">
<a href="match/<%= match._id %>" class="match">
	       <div class="card-header"><%= match.name %></div>
	         <div class="card-body">
 			<div class="row">
			  <div class="col-6">
			   <%= match.team1name %>
			  </div>
			  <div class="col-6 text-right">
			   <%= match.team1run %>
			  </div>
			</div>
 			<div class="row mt-2">
			  <div class="col-6">
			   <%= match.team2name %>
			  </div>
			  <div class="col-6 text-right">
			   <%= match.team2run %>
			  </div>
			</div>
			<h6 class="text-primary mt-2"><%= match.status %><h6>

	         </div>
    </a></div>
</div>





 <%})%>

   </div>


<h4>News</h4>

<form method="post" action="/addnews">
<input placeholder="Write Your Name" class="form-control mb-2" onchange="nameSet()" name="author" id="usrnme">
<textarea placeholder="What you think about Cricket" class="mb-2 form-control" name="title">
</textarea>
<button type="submit" class="btn btn-primary w-100 mb-2">Post</button>
</form>

	<div class="row justify-content-center">

		<%newslist.forEach(news => {%>
			<div class="col-md-4 mb-4">
				<div class="pt-3 pb-1 bg-white px-3">
					<h6 class="text-primary"><%= news.author %></h6>
					<p><%= news.title %></p>
				</div>
				<button class="btn btn-success">Agree</button><button class="btn btn-danger">Disagree</button>
			</div>
			
		<%})%>
			

	</div>


  </div>
</body>
</html>
