<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css">
  <script src="/static/move.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Cric</title>
  <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
  <script>
  const socket = io('<%= iourl %>');


	socket.on('update', (updt) => {
	  if (updt.includes("mid-wicket")) {
     midwiket();
   }
	  console.log(updt);
	  if 
	});


  </script>
</head>
<body>
<div class="container">
	<div class="row"><div class="col-sm-12 col-md-6 col-lg-4">
<img src="/static/logo.png" width="100%" >
</div></div>
</div>

<div class="bg-primary">
<div class="container text-white mb-2 py-2">
<div class="row">
<div class="col">
	<%= match.name %>
</div>
</div>
</div>
</div>
<div class="container">
<div class="my-2">
<h5 id="statusbar" class="text-danger mb-2">
	<%= match.status %>
</h5>
</div>
</div>
	<div class="container">
		<div class="gwrap">
			<div class="iteam">
			 		<div class="ground">
	  <div class="cercel">
	    <div class="wicket">
	      <div id="ball"></div>
	      <div class="filder" id="f1"></div>
	      <div class="filder" id="f2"></div>
	      <div class="filder" id="f3"></div>
	      <div class="filder" id="f4"></div>
	      <div class="filder" id="f5"></div>
	      <div class="filder" id="f6"></div>
	      <div class="filder" id="f7"></div>
	      <div class="filder" id="f8"></div>
	      <div class="filder" id="f9"></div>
	    </div>
	  </div>
	</div>
		
			</div>
		</div>


		


			<div class="card-it">
				<div class="card bg-white mx-2 mt-3  mb-3">
					<div class="card-header">
						  <div class="row">
							<div class="col-md-4 col-sm-12">
								<div class="row">
									<div class="col-3"><span id="Teambat1name"><%= match.team1name %></span></div>
									<div class="col-9 text-right"><h4 id="bat1Score"><%= match.team1run %><small class="text-muted ml-2"></small></h4></div>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
									<div class="w-100 bg-primary text-white py-1 px-3 text-center"><h5 id="lb">Dot Ball</h5></div> 
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="row">
									<div class="col-3"><span id="Teambat2name"><%= match.team2name %></span></div>
									<div class="col-9 text-right"><h4 id="bat1Score"><%= match.team2run %><small class="text-muted ml-2"></small></h4></div>
								</div>
							</div>
						  </div>

						
					</div>
					
						
						<div class="card-body">
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<div class="col-2">
											<img id="bat1img" height="50px" width="50px" src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c182026/shams-mulani.jpg" alt="">
										</div>
										<div class="col-10">
											<h6><span id="bat1name"><%= match.bat1name %></span></h6>
											<b><span id="bat1run"><%= match.bat1run %>(<%= match.bat1ball %>)</span></b>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<div class="col-2">
											<img id="bat2img" height="50px" width="50px" src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c182026/shams-mulani.jpg" alt="">
										</div>
										<div class="col-10">
											<h6><span id="bat2name"><%= match.bat2name %></span></h6>
											<b><span id="bat2run"><%= match.bat2run %>(<%= match.bat2ball %>)</span></b>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<div class="col-2">
											<img id="bowlerimg" height="50px" width="50px" src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c182026/shams-mulani.jpg" alt="">
										</div>
										<div class="col-10">
											<h6><span id="bowlerName"><%= match.ballname %></span></h6>
											<b><span id="bowlerOW"><%= match.ballover %>-<%= match.ballwk %></span></b>
										</div>
									</div>
									</div>
								</div>
							</div>
							<div class="bg-light px-4 py-2">
								<div class="row">
									<div class="col-md-4">Last Balls:<span id="lbb">... | 0 0 0 W 0 1 | 4 0 0 0 0 0</span></div>
									<div class="col-md-4">Partnership 34(48)</div>
									<div class="col-md-4">Last WK:Kurnaratna 23(42)</div>
								</div>
							</div>
						  </div>
					
					
						
					  
			 </div>
			</div>
		  

	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
